In [32]:
%pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

Lendo os dados

In [ ]:
import pandas as pd

In [ ]:
dataset_frases = pd.read_csv('data/dicionário_frases.csv')

dataset_palavras = pd.read_csv('data/dicionario_palavras.csv')

In [62]:
dataset_frases

,Português,Espanhol,Warao,Unnamed: 3,Contexto/categoria
0,Todo mundo,Todo el mundo,Ina kokotuka.,NaN,Expressão comum
1,As pessoas,Las personas,Waraotuma.,NaN,Expressão comum
2,O pessoal,El personal,Tai Waraotuma,NaN,Expressão comum
3,Estou bem,Estoy bien,Ine Yakera.,NaN,Expressão comum
4,Meu nome é,Mi nombre es,Ine Mawai,NaN,Expressão comum
...,...,...,...,...,...
84,Me dói,Me duele(n),Ajera,NaN,Saúde
85,Eu sou diabético,Soy diabético,Jotu isia nobaraya,NaN,Saúde
86,Eu tenho a pressão alta,Sufro de presión alta,Kobe isiya nobaraya,NaN,Saúde
87,Estou gripado,Estoy con gripe,Obo maisiya ja,NaN,"Na consulta, no hospital, ou na conversa com p..."
88,Eu tenho dor,Tengo dolor,Tejo Ajera,NaN,"Na consulta, no hospital, ou na conversa com p..."

In [55]:
dataset_palavras

,Português,Espanhol,Warao,Unnamed: 3,Contexto/categoria
0,Eu,Yo,Ine,NaN,Pronome pessoal
1,Tu,Tú,Iji,NaN,Pronome pessoal
2,Ele,Él,Tai,NaN,Pronome pessoal
3,Vocês,Ustedes,Yatu,NaN,Pronome pessoal
4,Ela,Ella,Warao Tida.,NaN,Pronome pessoal
...,...,...,...,...,...
423,Certidão de Nascimento,Certificado de Nacimiento,Karata Adiawara,NaN,Documento
424,Carteira de identidade,Carnet / Cédula de Identidad,Warao asita,NaN,Documento
425,Carteira de trabalho,Libreta del Trabajo,Yaota Ajabatanoko,NaN,Documento
426,Carteira de motorista\nCarnet / Registro / Lic...,Kaperakanawayhäkatömä,Akarata,NaN,Documento
427,Ferro de passar roupa,Plancha,Jima aiji,NaN,Roupa